section.cadastro {
  width: 100%;
  height: 100vh;
  display: block;

  justify-content: center;
}

div.box-center {
  display: flex;
  justify-content: center;
}

div.cadastro-container {
  padding: 30px;
  margin-top: 3rem;
  width: 25rem;
  height: 30rem;
  background-color: #ffffff;
  border-radius: 24px;

}


div.cadastro-container h1 {
  color: rgb(31, 31, 31);
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  padding: 20px
}

div.inputs-container {
  width: 100%;

}

div.inputs-container input {
  margin-top: 30px;
  display: block;
  width: 90%;
  height: 40px;
  justify-self: center;
  border: 2px solid rgb(219, 219, 219);
  border-bottom: 4px solid darkgray;
  border-radius: 5px;
  padding: 5px;

}

div.inputs-container input::placeholder {
  color: rgb(0, 0, 0);
}

button.form-cadastro {

  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 95%;
  height: 50px;
  font-weight: bold;
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 20px;
  background-color: #188FA7;
}


div.user {
  border-radius: 20px;
  width: 25rem;
  height: 130px;
  background-color: rgb(252, 252, 252);
  margin-top: 30px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.user p {
  font-size: 18px;
  margin-top: 5px;
}

div.user {

  button {
    border: none;
    margin-top: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    align-self: center;
    &:hover {
      opacity: 0.5;
    }
  }


}