section.cadastro {
  width: 100%;
  min-height: 100vh;
  display: block;

  justify-content: center;
}

div.box-center {
  display: flex;
  justify-content: center;
  gap: 50px;
}

div.cadastro-container {
  padding: 30px;
  margin-top: 3rem;
  width: 25rem;
  min-height: 33rem;
  background-color: #ffffff;
  border-radius: 24px;

}


div.cadastro-container h1 {
  color: rgb(31, 31, 31);
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  padding: 20px
}

div.inputs-container {
  width: 100%;

}


span.form-error {
  color: red;
  display: block;
  margin-left: 14px;
  font-size: 15px;
}

div.inputs-container input {
  margin-top: 30px;
  display: block;
  width: 90%;
  height: 40px;
  justify-self: center;
  border: 2px solid rgb(219, 219, 219);
  border-bottom: 4px solid darkgray;
  border-radius: 5px;
  padding: 5px;

}

div.inputs-container input::placeholder {
  color: rgb(0, 0, 0);
}

button.form-cadastro {

  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 95%;
  height: 50px;
  font-weight: bold;
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 20px;
  background-color: #188FA7;

  &:hover {
    cursor: pointer;
    background-color: #0b434e;
  }
}


div.user {
  border-radius: 20px;
  width: 25rem;
  height: 130px;
  background-color: rgb(252, 252, 252);
  margin-top: 30px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.user p {
  font-size: 18px;
  margin-top: 5px;
}

div.user {

  button {
    border: none;
    margin-top: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    align-self: center;

    &:hover {
      opacity: 0.5;
    }
  }


}

div.header {
  width: 100%;
  height: 100vh;
  background-color: pink;
}

.inputs-container p {

  margin-top: 30px;
  text-align: center;

  & a {
    color: rgb(0, 119, 255);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      font-size: 18px;
    }
  }
}


nav {
  margin-left: auto;
  width: 100%;
  height: 12vh;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1;
  background-color: rgb(41, 116, 131);
}

nav h2 {
  font-size: 30px;
  font-weight: 500;
  color: white;
  margin-left: 10px;
}

div.logo {
  display: flex;
  align-items: center;
  padding: 30px;
}

div.usuario-logado {
  width: 30rem;
  height: 15vh;
  margin-left: auto;
  margin-right: 30px;
  display: flex;

  align-items: center !important;
  justify-content: end;

  & p {
    color: white;
    font-size: 18px;
    margin-left: 5px;
    font-weight: lighter;
    margin-top: 5px;

    & b {
      margin-right: 15px;
      font-size: 18px;
      font-weight: 500;
    }
  }

  & img {

    width: 48px;
  }
}

div.logo img {
  width: 36px;
}

div.user-icon {
  display: flex;
  align-items: center;
}


@media screen and (max-width: 800px) {
  div.usuario-logado {
    margin-right: 15px;
    justify-content: end;
    height: 10vh;
    margin-top: 0;

    & p {
      display: none;

    }
  }

  div.logo {

    & h2 {
      width: 300px;
      font-size: 20px;
    }
  }

  div.cadastrar-item{
    margin-top:300px
  }
 
}


@media screen and (max-width:1200px){
  .form-row{
    display:block !important;
  }
}
section.products {
  width: 100%;
  min-height: 150vh;
  display: flex;
  flex-direction: column;

  & h1 {
    font-size: 40px;
    margin: 30px;

  }
}






div.product-container {
  width: 87%;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 12.8%;
  justify-content: center;

  align-items: center;
 
}



header {
  width: 100%;
  height: 10vh;
  color: white;
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & div.header-left {
    margin-left: 50px;
  }

  & div.header-right {
    display: flex;
    margin-right: 100px;
    align-items: center;

    & a {
      color:white;
      margin-left: 10px;
      font-weight: 500;
      text-decoration: underline;
      font-size: 20px;
    }
  }
}


div.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  gap: 20px;
  padding-top: 30px;
}

div.barra-lateral {
  flex-shrink: 0;
 
  width: 20%;

  min-height: 95%;
  background-color: blue;
}

div.products-box {
  flex-shrink: 0;
  min-height: 80vh;
 
  padding:50px 0;
  width: 70%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  align-items: center;
  
  

  & .product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    width: 300px;
    min-height: 350px;
  

    & a {
      text-decoration: underline;
      color: #0b434e;
      cursor: pointer;
      transition: 0.3s ease-in;


      &:hover {

        font-size: 20px;
      }
    }
  }
}


div.product img {
  max-width: 200px;
  max-height: 200px;
}

div.estoque-box {

  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;


  & h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    &a {
      color: #0056b3;
    }
  }
}

div.estoque-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

div.estoque {
  width: 60%;
  height: 70vh;

  & .estoque-topo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35%;
    background-color: rgb(221, 221, 221);

    & img {
      width: 28%;
      height: 100%;
    }

    & h2 {
      font-size: 35px;
      text-align: center;
    }
  }
}

div.estoque-descriçao {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: black;
  width: 100%;
  height: 80px;
  justify-content: center;
  background-color: rgb(221, 221, 221);


  & button {
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & input {
    height: 30px;
    margin-left: 20px;
    text-align: center;
  }

  & select {
    height: 40px;
    width: 120px;
    margin-left: 20px;
  }
}

div.cadastrar-item {
  padding: 50px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 91%;
  min-height: 50vh;
  border: 2px solid black;
  background-color: white;
  box-sizing: border-box;
}


.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}


.form-row {
  display: flex;
  gap: 20px;
}


.form-group {
  flex: 1;
  min-width: 200px;

  & label {

    & p {
      text-align: center;
    }
  }
}


input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button.excluir-item{
  background-color:red;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    align-self: center;
    margin-left: 5px;
  }
}